body {
  position: relative;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}
/* .active {
  color: rgb(230, 154, 154);
} */

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
